body{
  font-family: 'Montserrat', sans-serif;
  background:white;
}
.container{
  display:block;
  max-width:680px;
  width:80%;
  margin:120px auto;
}
h1{
  color:#e91e63;
  font-size:48px;
  letter-spacing:-3px;
  text-align:center;
  margin:120px 0 80px 0 ;
  transition:.2s linear;
}
.find__p{
  display: flex;
  font-size: 10px;
  color: red;
  padding: 0 0 0 4%;
}

form{
  width:100%;
  max-width:680px;
  margin:40px auto 10px;
  .input__block {
    margin: 20px auto;
    display: block;
    position: relative;

    &.first-input__block {
      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 50px;
        display: block;
        width: 0;
        height: 0;
        background: transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgba(#0f132a, .1);
        transition: .2s linear;
      }
    }

    &.signup-input__block {
      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 150px;
        display: block;
        width: 0;
        height: 0;
        background: transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgba(#0f132a, .1);
        transition: .2s linear;
      }
    }
    .input_btn{
      width: 20%;
      height: 50px;
      text-align: center;
      padding: 0;
      margin: 0 0 0 10px;
      display: inline;
      background-color: #5b90f0;
      &:hover {
        background-color: black;
      }
    }
    .input_hide{
      display: none;
    }


    .input1{
      display: inline;
      width: 67%;
      max-width: 680px;
      height: 50px;
      margin: 0 auto;
      border-radius: 8px;
      border: none;
      background: rgba(#0f132a, .1);
      color: rgba(#0f132a, .3);
      padding: 0 0 0 15px;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 10px;

      &:focus,
      &:active {
        outline: none;
        border: none;
        color: rgba(#0f132a, 1);
      }

      &.repeat__password {
        opacity: 0;
        display: none;
        transition: .2s linear;
      }
    }
  }
}