/* 600px 이상일 때 */
@media (min-width: 600px) {
  /* 화면의 폭이 600px 이상일 때 적용되는 스타일 */
  .join_style{
    margin: auto;
    width: 600px;
  }
  .sign_div{
    display: inline-block;
  }
  .top_font{
    font-size: 20px;
  }
  .check_agree{
    margin: auto 3px auto auto;
    display: flow;
    text-align: right;
    font-size: 20px;
  }
  .all_agree{
    margin: auto 3px auto auto;
    text-align: right;
    font-size: 20px;
  }
  .scroll{
    height: 200px;
    max-width: 1600px;
    width: 100%;
    resize: none;
  }
  .scroll_div{
    display: inline-block;
  }
  .sign_next{
    max-width: 1400px;
    width: 101%;
    max-height: 70px;
    height: 40px;
    font-size: 20px;
    background-color: #5b90f0;
    color: white;
    border-radius: 20px;
    &:hover{
      background-color: black;
    }
  }
}

/* 600px 미만일 때 */
@media (max-width: 599px) {
  /* 화면의 폭이 600px 미만일 때 적용되는 스타일 */
input[type="checkbox"]{
  width: 7px; /*Desired width*/
  height: 7px; /*Desired height*/
  display: inline-flex;
  align-items: center;
}
  .sign_main{
    font-size: 10px;
  }
  .join_style{
    margin: auto;
  }
  .sign_div{
    display: inline-block;
  }
  .top_font{
    font-size: 10px;
  }
  .check_agree{
    margin: auto 5px auto auto;
    display: flow;
    text-align: right;
    font-size: 7px;
  }
  .all_agree{
    margin: auto 5px auto auto;
    text-align: right;
    font-size: 5px;
  }
  .scroll{
    height: 100px;
    max-width: 1600px;
    width: 95%;
    resize: none;
  }
  .scroll_div{
    display: inline-block;
  }
  .sign_next{
    max-width: 1400px;
    width: 101%;
    max-height: 70px;
    height: 20px;
    font-size: 10px;
    background-color: #5b90f0;
    color: white;
    border-radius: 20px;
    &:hover{
      background-color: black;
    }
  }
}

