.form1{
    margin-top: 80px;
    display: inline-block;
    text-align: center;
}
label{
    width: 400px;
    margin-bottom: 7px;
}
.form-control{
    display: inline-block;
    width: 80%;
    height: 30%;
}
.login{
    margin-top: 10px;
    margin-bottom: 80px;
    display: inline-block;
    text-align: center;
    width: 650px;
    height: 80%;
    background-color: #caf3f3;
}
.fbtn{
    width: 400px;
}
.under_b{
    display: flex;
    justify-content: center;
}
.under_b a{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
}
.v-line {
    margin-top: 6%;
    float: left;
    border : solid 1px #32a1ce;
    height : 30px;
    margin-bottom: 20px;
}
.idFind{
    margin-top: 0px;
    float: left;
    width: 30%;
    font-size: 30px;
}
.pwFind{
    float: left;
    width: 30%;
    font-size: 30px;
}
.sign{
    float: left;
    width: 30%;
    font-size: 30px;
}
.log_mark{

}


.oauth2_logo{
    margin-top: 20px;
    display: inline-block;
}
.oauth1{
    float: left;
    width: 30%;
    margin-right: 10px;
}
.oauth2{
    float: left;
    width: 30%;
    margin-right: 10px;
}
.oauth3{
    float: left;
    width: 30%;
    margin-right: 10px;
}

.join_style{
    display: inline-block;
    width: 60%;
    border: solid #000000;
    margin-bottom: 20px;
    font-size: 30px;
}
.check_agree{
    font-size: 60%;
    margin-top: 10px;
    margin-bottom: 0px;
    float: right;
    margin-right: 20px;
}
.privacy_scroll{
    width: 97%;
    height: 300px;
    resize: none;
    margin-bottom: 60px;
}
.all_agree{
    margin: auto;
    text-align: right;
    margin-right: 20px;
}
.next_input{
    background-color: #ace2f1;
    color: #000000;
    margin-bottom: 30px;
    padding: 10px 35%;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}
.next_input:hover{
    background-color: #7696a4;
}

.next_button:link, .next_button:visited{
    background-color: #ace2f1;
    color: #000000;
    padding: 10px 43%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 30%;
}
.next_button:hover, .next_button:active {
    background-color: #7696a4;
}

.sign_p{
    font-size: 80%;
    margin-left: 20px;
    text-align: left;
    width: 100%;
    height: auto;
}
.sign_input{
    font-size: 80%;
    display: inline-block;
    margin-bottom: 60px;
    height: 50px;
    width: 95%;
}
