.mainfooter {
    background-color: black;
    color: white;
}
.footerfirst{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.footerleft {
    flex: 1; /* 각각의 하위 요소가 반반의 공간을 차지하도록 함 */
    padding: 30px;
    text-align: left;
}
.footerright{
    flex: 1;
}
.map{
    margin-top: 30px;
    width: 300px;
    height: 300px;
}
.application{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.googlebutton{
    width: 150px;
    height: 50px;
    margin-left: 40px;
}
/*.linkiss {*/
/*    background-color: #c6c4c4;*/
/*    width: 100px;*/
/*}*/
