.main_footer {
    background-color: black;
    color: white;
}
.footer_first{
    font-weight: bold;
    max-font-size: 20px;
    font-size: 80%;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}
.footer_left p{
    display: flex;
}
.footer_right{
    flex: 1;
}
.naver_map{
    max-width: 200px;
    width: 100%;
    height: auto;
}
.application{
    max-width: 100px;
    width: 80%;
    height: auto;
    margin: 50px;
}
.app_logo{
    max-width: 100px;
}
.google_button{
    max-width: 100px;
    width: 100%;
    height: auto;
}
.Line{
    border : 0px;
    border-top: 5px solid #ffffff;
}

