.gal_main{
    height: 100%;
}
.product-list{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}
.not_box{
    margin-top: 20px;
    padding-top: 80%;
}

.cate{
    display: inline-block;
    text-decoration:none;
    color: black;
    float:left;
    width: 30%; /* 또는 적절한 값으로 설정 */
    height: 80%;
    margin: 1.5% 1.5%; /* 적절한 간격 설정 */
    box-sizing: border-box; /* 내부 패딩과 보더를 포함한 전체 너비 유지 */
    border: 2px solid black;
    border-radius: 15px;
}
.create_p{
    display: inline-block;
    width: 80%;
    height: 80%;
}
.cate_create{
    display: inline-block;
    text-decoration:none;
    color: black;
    width: 30%;
    height: 80%;
    float:left;
    margin: 1.5% 1.5%; /* 적절한 간격 설정 */
    box-sizing: border-box; /* 내부 패딩과 보더를 포함한 전체 너비 유지 */
    border: 2px solid black;
    border-radius: 15px;
}

.cate-name{
    display:inline-block;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 4px;
}

.cate-list {
    display: inline-block;
    width: 98%;
    height: 90%;
}

.Catete{
    font-weight: bold;
    width: 20%;
    color: #fdd1d6;
    margin: 20px;
    font-size: 30px;
}
.rowbar{
    border-bottom: 1px solid black; /* 가로로 한 줄 그어줌 */
    margin-left: 200px;
    margin-right: 200px;/* 원하는 간격 설정 */
}
.galnav{
    margin: 20px;
    width: 80%;
    display: inline;
}
.cate-name{
    margin: 20px;
    color: #95d5ff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;

}
.cate-image{
    margin-top: 20px;
    border-radius: 15px;
}
h1{
    background-color: #fdd1d6;
    width: 80%;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    font-size: 50px;
}


