.gal_main {
    height: 100%;
}

.product-list {
    width: 735px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.not_box {
    display: inline-block;
    width: 225px;
    height: 225px;
    margin-top: 20px;
}

.cate {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 45%;
    float: left;
    margin: 1.5%; /* 좌우 여백을 동일하게 설정 */
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    vertical-align: top; /* 가운데 정렬을 위해 top으로 정렬 */
}

.cate-name{
    display:inline-block;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 4px;
}

.cate-list {
    display: inline-block;
    width: 98%;
    height: 90%;
    text-align: center; /* 중앙 정렬로 수정 */
}

.Catete {
    display: inline;
    font-weight: bold;
    width: 20%;
    color: #fdd1d6;
    margin: 20px;
    font-size: 30px;
}

.rowbar {
    border-bottom: 1px solid black; /* 가로로 한 줄 그어줌 */
    margin-left: 200px;
    margin-right: 200px;/* 원하는 간격 설정 */
}

.galnav {
    margin: 20px;
    width: 80%;
    display: inline;
}

.cate-name {
    display: inline-block;
    width: 60%;
    font-size: 30px;
    margin: 20px;
    color: #FDAF7B;
    font-weight: bold;
    border-radius: 15px;
    background-color: #401F71;
    border: 2px #824D74 solid;
}
.cate-image{
    margin-top: 20px;
    border-radius: 15px;
    max-width: 80%;
    max-height: 80%;
}

h1 {
    background-color: #fdd1d6;
    width: 50%;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    font-size: 50px;
    color: hotpink;
}
.CreCate{
    position: fixed;
    bottom: 70px;
    right: 100px;
    width: 50px;
    height: 50px;
    background-color: #fdd1d6;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    border: 2px solid #c42927;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out; /* 변환 효과를 부드럽게 만듭니다 */
}
.CreCate:hover {
    transform: scale(1.1); /* 마우스를 가져다 대면 확대 효과를 줍니다 */
}

.DelCate{
    position: fixed;
    bottom: 130px;
    right: 100px;
    width: 50px;
    height: 50px;
    background-color: #fdd1d6;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    border: 2px solid #c42927;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out; /* 변환 효과를 부드럽게 만듭니다 */
}
.DelCate:hover {
    transform: scale(1.1); /* 마우스를 가져다 대면 확대 효과를 줍니다 */
}
