.main_navbar{
    font-size: 30px;
    /*position: fixed;*/
    /*z-index: 1;*/
    /*width: 100%;*/ /*상단바 고정 */
}
.main_a{
    text-decoration: none;
}

.center{
    color: pink;
}
.centerLink {
    padding-top: 20px;
    text-align: center;
}
.rightLinks {
    text-align: right;
}
.searchLink {
    position: fixed; /* 화면에 고정된 위치에 요소를 배치합니다. */
    top: 0; /* 화면의 맨 위에 위치하도록 설정합니다. */
    right: 0; /* 화면의 오른쪽에 위치하도록 설정합니다. */
    padding: 10px;
    display: block;
    text-align: right; /* 검색하기 링크를 오른쪽 정렬합니다. */
    margin-bottom: 10px; /* 검색하기 링크 아래 여백을 추가합니다. */
}


.otherLinks a {
    display: inline-block;
    margin-left: 20px; /* 다른 링크들 사이의 간격을 조절합니다. */
    padding: 10px;
}

.rightLinks a {
    border-radius: 5px;
}

.rightLinks a:hover {
    color: red;
}

.searchicon{
    width: 30px;
    height: 30px;
}
.mypageicon {
    width: 30px;
}
.downright{
    color: hotpink;
}



