.navbar{

    font-weight: bold;
}
a{
    text-decoration: none;
}
.centerLink {
    padding-top: 20px;
    text-align: center;
}
.rightLinks {
    text-align: right;
}
.searchLink {
    display: block;
    text-align: right; /* 검색하기 링크를 오른쪽 정렬합니다. */
    margin-bottom: 10px; /* 검색하기 링크 아래 여백을 추가합니다. */
}

.otherLinks {
    display: inline-block;

}
.otherLinks a {
    display: inline-block;
    margin-left: 10px; /* 다른 링크들 사이의 간격을 조절합니다. */
}

.centerLink a:hover {
    color: red;
}

.rightLinks a {
    border-radius: 5px;
}

.rightLinks a:hover {
    color: red;
}




