@media (min-width: 600px) {
    /* 화면의 폭이 600px 이상일 때 적용되는 스타일 */
    .body{
        height: 300px;
    }
    .app_logo{
        border: 0.5px solid;
        width: 51%;
        box-sizing: border-box;
    }
    .google_button{
        border: 0px solid;
        width: 51%;
        box-sizing: border-box;
        height: auto;
    }
    .footer_left p{
        font-weight: bold;
        display: flex;
        font-size: 20px;
    }
    .footer_first{
        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center; /* 세로 중앙 정렬 */
    }
    .application{
        margin: auto;
        width: 300px;
        display: inline-block;
    }
    .naver_map{
        width: 100px;
    }
    .footer_left, .footer_right, .footer_center{
        flex: 1;
    }
    .main_footer {
        background-color: black;
        color: white;
        height: 300px;
    }
}
@media (max-width: 600px) {
    /* 화면의 폭이 600px 미만일 때 적용되는 스타일 */
    .app_logo{
        border: 1px solid;
        width: 51%;
        box-sizing: border-box;
    }
    .google_button{
        border: 1px solid;
        width: 51%;
        box-sizing: border-box;
    }
    .footer_left p{
        font-weight: bold;
        display: flex;
        font-size: 10px;
    }
    .naver_map{
        margin: 10px auto auto auto;
        width: 80px;
    }
    .main_footer {
        background-color: black;
        color: white;
        height: 600px;
    }
}

.Line{
    border : 1px;
    border-top: 2px solid #ffffff;
}

