.hi{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    width: 300px;
    margin-right: 3%; /* 각 요소 사이의 간격 조정 */
    box-sizing: border-box;
}
.center1{
    max-width: 2000px;
    width: 80%;
    height: auto;
    background-color: pink;
}
.mainMenu {
    flex: 1;
    list-style: none;
}
.left1 {
    background-color: black;
    color: white;
}
.right1 {
    background-color: #c5c1c1;
    color: white;
}

.main_first{
    padding-top: 20px;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    max-font-size: 120px;
    font-size: 50%;
}

.first_right, .first_left {
    flex: 1; /* 각각의 하위 요소가 반반의 공간을 차지하도록 함 */
    font-size: 50px;
    padding: 15% 0 15% 0;
}
/* 600px 미만일 때 */
@media (max-width: 599px) {
    /* 화면의 폭이 600px 미만일 때 적용되는 스타일 */
    .first_right{
        font-size: 15px;
    }
    .main_logo{
        width: 50%;
    }
    .main_nav {
        font-size: 10px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    .font_font{
        padding-top: 3%;
        font-size: 20px;
        font-weight: bold;
    }
    .frame-in1{
        display: block;
        width: 90%;
        margin: auto auto 3% auto;
        border-radius: 5px;
        transition: opacity 0.5s ease-in-out;
    }
    .frame-out1{
        display: inline-flex;
        width: 90%;
        margin: auto auto 3% auto;
        border-radius: 5px;
        transition: opacity 0.5s ease-in-out;
    }
}
.third{
    font-weight: bold;
    margin: auto;
    padding: 0 0 7% 0;
}
.event_div{
    width: 100%;
}
.main_div{
    margin-bottom: 2%;
    padding: 2% 0 2% 0;
}
/* 600px 이상일 때 */
@media (min-width: 600px) {
    /* 화면의 폭이 600px 이상일 때 적용되는 스타일 */
    .main_logo{
        width: 400px;
        height: auto;
        border-radius: 15px;
    }
    .mainBar {
        display: flex;
        margin-top: -10px; /* 여백 제거 */
    }
    .main_nav {
        font-size: 50px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    .font_font{
        padding-top: 3%;
        font-size: 50px;
        font-weight: bold;
    }
    .frame-in1{
        display: inline-flex;
        width: 31%;
        margin: 0 1% 0 1%;
        border-radius: 5px;
        transition: opacity 0.5s ease-in-out;
    }
    .frame-out1{
        display: inline-flex;
        width: 31%;
        height: auto;
        margin: 0 1% 0 1%;
        border-radius: 5px;
        transition: opacity 0.5s ease-in-out;
    }
}
.main_nav:hover {
    color: yellow; /* 호버 시 텍스트 색상 변경 */
}





