.sc-iBdnpw{
  flex: 0 0 10%; /* 각 항목이 4개가 나열될 수 있도록 25%의 너비를 설정 */
  width: 95%;
  margin: auto;
    .board_item2{
      margin: 50px auto;
      background-color: #a445e5;
      border: 2px solid #0039f8;
      border-radius: 30px;
      .img_box2{
        margin: 0 auto auto auto;
        width: 95%;
        .board_img2{
          margin: 0 auto 0 auto;
          width: 92%;
        }
      }
      .click_evt2{
        width: 98%;
        margin: auto auto 20px 0;
        text-align: left;
        display: flex; /* Flexbox 사용 */
        .view_2{
          margin-left: 280px;
        }
        .nav-img2{
          width: 30px;
          height: 30px;
        }
      }
      .content_box2{
        text-align: left;
        div{
          text-align: center;
        }
        .content_font2{
          font-size: 10px;
          margin-left: 4%;
          text-align: left;
        }
        .content_name2{
          font-size: 10px;
        }
      }
    }
}
.board_content2{
  text-align: left;
}
/* 600px 미만일 때 */
@media (max-width: 599px) {
  .main_board2 {
    flex: 0 0 100%;
  }
  .board_item{
    width: 200px;
  }
  .Profile2{
    width: 20px;
    height: 20px;
  }
}
/* 600px 이상일 때 */
@media (min-width: 600px) {
  .board_list2 {
    width: 350px;
  }
  .board_item{
    width: 500px;
  }
  .Profile2{
    margin: 0 0 10px 30px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
}
