.App {
  text-align: center;
  font-family: "Madimi One", sans-serif;
}

.mount1{ animation: 1.5s ease-in-out loadEffect1; }
.container{
  border: 4px solid #87CEEB;
}
.hidden{ display: none}
@keyframes loadEffect1 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.modal.on {
  display: block;
}