.navbar{
    background-color: #f4f3ee;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navMenu{
    display: inline-block;
    text-align: left;
    font-size: 20px;
    padding: 50px;
}
.navMenu a{
    text-decoration: none;
    font-weight: bold;
}
.margin{
    margin-top: 0;
    margin-bottom: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
a:link {
    color : #000000;
}
a:hover {
    color : #72d6e8;
}
a:active {
    color : #5297dc
}