
/* 600px 이상일 때 */
@media (min-width: 600px) {
    /* 화면의 폭이 600px 이상일 때 적용되는 스타일 */
    /* 글씨 크기와 테두리를 적용할 클래스 */
    .big-font {
        font-size: 20px;
        .text_area{
            resize: none;
            width: 80%;
            height: 100px;
        }
    }
    .content_div{
        border: black solid;
        margin: 20px auto;
        width: 80%;
        .slick-prev {
            background-color: #282c34;
            &:hover{
                background-color: black;
            }
        }
        .slick-next {
            background-color: #282c34;
            &:hover{
                background-color: black;
            }
        }
        input{
            height: 30px;
            width: 80%;
        }
        div{
            width: 80%;
            display: flex;
            margin: auto;
            align-items: center; /* 세로 가운데 정렬 */
        }
        span{
            display: flex;
            margin: 0.5% auto auto 10%;
        }
        .plus_button{
            margin-top: 30px;
            font-size: 5px;
        }
    }
    .center-align {
        background-image: url("../../../../public/594.jpg");
        margin: 5% auto 50px auto;
        height: auto;
        width: 400px;/*콘텐트 전체 사이즈*/
        border: 5px solid black;
    }
}
/* 600px 미만일 때 */
@media (max-width: 599px) {
    /* 글씨 크기와 테두리를 적용할 클래스 */
    .big-font {
        font-size: 20px;
        .text_area{
            resize: none;
            width: 80%;
            height: 100px;
        }
    }
    .content_div{
        border: black solid;
        margin: 20px auto;
        width: 80%;
        .p_name{
            margin-bottom: 10px;
        }
        .slick-arrow button{
            width: 0px;
            &:hover{
                width: 100px;
            }
        }
        input{
            height: 30px;
            width: 80%;
        }
        div{
            width: 80%;
            display: flex;
            margin: auto;
            align-items: center; /* 세로 가운데 정렬 */
        }
        span{
            display: flex;
            margin: 0.5% auto auto 10%;
        }
        .plus_button{
            margin-top: 30px;
            font-size: 5px;
        }
    }
    .center-align {
        background-image: url("../../../../public/594.jpg");
        margin: 5% auto 50px auto;
        height: auto;
        width: 60%;/*콘텐트 전체 사이즈*/
        border: 5px solid black;
    }
}

.button-style {
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
    font-size: 10px;
    border: 2px solid black;
    background-color: lightgray; /* 버튼 배경색 */
    color: black; /* 버튼 텍스트 색상 */
    padding: 10px 20px; /* 내부 여백 */
    cursor: pointer; /* 마우스 커서 모양 */
}

/* 버튼 호버 효과 */
.button-style:hover {
    background-color: gray; /* 호버 시 배경색 */
    color: white; /* 호버 시 텍스트 색상 */
}

.picture{
    width: 50%;
    height: 200px;  /*나중에 오토로 바꾸기*/
    background-color: #95d5ff;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
}
